    <div class="container-fluid">
        <div class="row d-flex  flex-column flex-md-row flex-wrap justify-content-between align-items-center py-3 gap-3 gap-md-0">
            <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start">
                <a href="index.html" class="d-flex align-items-center me-2 text-body-secondary text-decoration-none lh-1">
                    <img class="me-1 my-0" src="./assets/media/logo.svg" width=20 alt="Logo Vanilla Games" title="Logo Vanilla Games">
                    <span class="text-body-secondary">© FPLlefià</span>
                </a>
            </div>
            <div class="nav col-12 col-md-4 d-flex justify-content-center">
                <p class="p-0 m-0">DAW · Asignatura de proyectos</p>
            </div>
            <div class="nav col-12 col-md-4 d-flex justify-content-center justify-content-md-end">
                <a class="text-body-secondary text-decoration-none" href="https://github.com/carrebola" target="_blank">carrebola GITHUB</a>
            </div>
        </div>
    </div>

