<footer class="bg-secondary">
    <div class="container-fluid  d-flex  flex-column flex-md-row flex-wrap justify-content-between align-items-center p-3">
        <div class="col-4 d-flex align-items-center">
            <a href="index.html" class="d-flex align-items-center mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img class="me-1 my-0" src="../assets/media/logo.svg" width=20 alt="Logo Vanilla Games" title="Logo Vanilla Games">
                <span class="mb-3 mb-md-0 text-body-secondary">© FPLlefià</span>
            </a>
        </div>
        <div class="nav col-4 justify-content-center d-flex">
            <p class="p-0 m-0">DAW · Asignatura de proyectos</p>
        </div>
        <div class="nav col-4 justify-content-end d-flex">
            <a class="text-body-secondary text-decoration-none" href="https://github.com/carrebola">carrebola GITHUB</a>
        </div>
    </div>
  </footer>

