
#title_VanillaGames{
    font-size: 50px;
}

.img_projects{
    aspect-ratio: 1/1;
    object-fit: cover;
}

.icons_projects{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.form-control.buscador-proyectos:focus{
    box-shadow: none;
}

a[href="signup.html"]:hover{
    color: black!important;
}

@media only screen and (max-width: 768px) {

    #title_VanillaGames{
        font-size: 50px;
    }

    main{
        margin-bottom: 150px;
    }

}

   

